= stylesheet_link_tag 'account'
%body
  %div#banner
    = link_to image_tag('banner.png'), bulletins_path
  %div#main
  %h2 Login

  %div#inputs
  
  

  = form_tag sessions_path do
    = label_tag :Name
    %br/
    = text_field_tag :name, params[:name]
  
    %br/
    %br/
    = label_tag :Phone
    %br/
    = text_field_tag :phone, params[:phone] 
    
    %br/
    %br/
    = submit_tag("Login")


  %br/
  New user? | 
  =link_to "Create an Account", sign_up_path
