= form_for(@bulletin) do |f|
  - if @bulletin.errors.any?
    #error_explanation
      %h2
        = pluralize(@bulletin.errors.count, "error")
        prohibited this bulletin from being saved:
      %ul
        - @bulletin.errors.full_messages.each do |msg|
          %li= msg
  .field
    = f.label :organizer
    %br/
    = f.text_field :organizer
  .field
    = f.label :msg
    %br/
    = f.text_area :msg
  .field
    = f.label :date
    %br/
    = f.date_select :date
  .actions
    = f.submit
