
= stylesheet_link_tag 'home'
%div#banner
  = link_to image_tag('banner.png'), root_path    
%div#enter
  %b= link_to image_tag('btn_entersys.png')
%div#login
  %input{:type => "phone"}
%div#main
  %label= link_to image_tag( 'btn_newinfo.png')
  %label= link_to image_tag( 'btn_deptintro.png')
  %label= link_to image_tag( 'btn_eduprocess.png')
  %label= link_to image_tag( 'btn_certification.png')
  
  %h1 Edit 編輯公告
  = render 'form'
  = link_to 'Show 詳情', @bulletin
  |
  \#{link_to 'Back 回前頁', bulletins_path}
