= stylesheet_link_tag 'application'

%body
  %div#banner
    = link_to image_tag('banner.png'), bulletins_path
  %h1
    %label=link_to '中文'
    %label=link_to 'English'
    %label=link_to 'Việt Nam'
    %br=link_to 'Back to welcome page 回歡迎頁面', root_path    
  %div#enter
    %btn_enter= link_to image_tag('btn_entersys.png'), check_path
  -# %div#login
    -# %input{:type => "phone"}
    -# %btn_login= link_to button_to('login'), sign_up_path

  #user_nav
  %div#status
    - if current_user
      %strong Welcome, 
      %strong= current_user.name 
      |
      = link_to "Log out", log_out_path 
    - else
      = link_to "Log in", log_in_path



%div#main
  %label= link_to image_tag( 'btn_newinfo.png')
  %label= link_to image_tag( 'btn_deptintro.png'), 'introduction/about'
  %label= link_to image_tag( 'btn_eduprocess.png'), 'introduction/edu'
  %label= link_to image_tag( 'btn_certification.png'), 'introduction/pass'
  %table#bulletins
    %thead
      %tr
        %th 公告訊息
        %th 活動日期
        %th 截止報名
      %tbody
        - @bulletins.each do |bulletin|
          %tr
            %td= bulletin.msg
            %td= bulletin.date
            %td= bulletin.deadline
            %td= link_to 'Show 詳情', bulletin
            - if current_user
              - if current_user.admin?
                %td= link_to 'Destroy 刪除', bulletin, method: :delete, data: { confirm: 'Are you sure? 確定要刪除嗎？' }
  - if current_user
    - if current_user.admin?
      =link_to 'New Bulletin 新增公告', new_bulletin_path


