%p
  %b Msg:
  = @bulletin.msg

%p
  %b Date:
  = @bulletin.date 

%p
  %b Deadline:
  = @bulletin.deadline 

= link_to 'Edit 編輯', edit_bulletin_path(@bulletin)  
|
\#{link_to 'Back 回前頁', bulletins_path} 

