= stylesheet_link_tag 'application'

%body
  %div#banner
    = link_to image_tag('banner.png'), bulletins_path
  %h1
    %label=link_to '中文'
    %label=link_to 'English'
    %label=link_to 'Việt Nam'
    %br=link_to 'Back to welcome page 回歡迎頁面', root_path    
  %div#enter
    %btn_enter= link_to image_tag('btn_entersys.png'), check_path

  -# %div#status
    -# - if current_user
      -# %strong Welcome, 
      -# %strong= current_user.name 
      -# = link_to "Log out", log_out_path 
    -# - else
      -# = link_to "Log in", log_in_path

%div#main
  %label= link_to image_tag('btn_newinfo.png'), bulletins_path
  %label= link_to image_tag('btn_deptintro.png')
  %label= link_to image_tag('btn_eduprocess.png'), 'edu'
  %label= link_to image_tag('btn_certification.png')
  %div#about
    %br 「如火如『茶』」
    %br=image_tag('team.png')
    %br我們是由五個清大學生組成的服務創新團隊，旨在創建對於峨眉茶業有所幫助的系統，故自名為「如火如『茶』」。
    %br鑒於採茶人力的不足，我們希望透過一套教學檢定系統，強化新進採茶工的技術，並加速他們成為熟練的採揀東方美人茶工。因為東方美人茶芽笋嫩幼，不易採集，所以透過專業的訓練與公正的檢定，定能為東方美人茶帶來新的契機。
    %br如果你對我們的服務有興趣，我們很樂意與你分享，歡迎與我們聯繫！
