= stylesheet_link_tag 'application'

%body
  %div#banner
    = link_to image_tag('banner.png'), bulletins_path
  %h1
    %label=link_to '中文'
    %label=link_to 'English'
    %label=link_to 'Việt Nam'
    %br=link_to 'Back to welcome page 回歡迎頁面', root_path    
  %div#enter
    %btn_enter= link_to image_tag('btn_entersys.png'), check_path

  -# %div#status
    -# - if current_user
      -# %strong Welcome, 
      -# %strong= current_user.name 
      -# = link_to "Log out", log_out_path 
    -# - else
      -# = link_to "Log in", log_in_path

%div#main
  %label= link_to image_tag('btn_newinfo.png'), bulletins_path
  %label= link_to image_tag('btn_deptintro.png'), 'about'
  %label= link_to image_tag('btn_eduprocess.png'), 'edu'
  %label= link_to image_tag('btn_certification.png')
  %div#pass
    %br 結訓清單
